{% extends 'home/base.html' %}
{% block content %}
<h3 class="shadow-lg text-center">
  {% block title %}
 -Ultimas Noticias-
  {% endblock title %}
 </h3>
 {% block content_noticias %}
  {% if user.is_authenticated %}
  <a class="btn btn-primary btn-lg text-center " href="{% url 'noticias:noticias_create' %}"> Crear Noticia </a> <br>
  <a class="btn btn-primary btn-lg text-center " href="{% url 'noticias:noticias_list' %}"> Ver las ultimas Noticias</a> <br>
  {% endif %}
  <a class="btn btn-primary btn-lg" href="{% url 'home:index' %}">Volver a inicio </a>
{% endblock content_noticias %}
{% endblock content %}