{% extends 'noticias/index.html' %}

{% block content_noticias %}

    {% if object_list %}

        {% block search %}
        {% endblock search%}
    
        {% block list %}
            <div class="container">
                <table class="table">
                    <thead>
                        {% block table_header %}
                        {% endblock table_header %}
                    </thead>
                    <tbody>
                        {% block table_body %}
                        {% endblock table_body %}
                    </tbody>
                </table>
            </div>
        {% endblock list %}
    {% else %}
        <p class="fs-4 fst-italic text_center shadow-lg">No hay ningun Noticia</p>
    {% endif %}

    {% url 'noticias:index' as url %}
    {% include 'home/index_back.html' with link=url %}

{% endblock content_noticias %}
