{% extends 'noticias/index.html' %}

{% block title %}
  Esta por crear o actualizar una Noticia
{% endblock title %}

{% block content_noticias %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-success">Guardar</button>
        </div>
    </form>
    {% url 'noticias:noticias_list' as url %}
    {% include 'home/index_back.html' with link=url %}
    {% url 'home:index' as url %}
    {% include 'home/index_inicio.html' with link=url %}
{% endblock content_noticias %}
